button{
    background-color: rgb(32, 184, 27);
    text-align: center;

}
.completed{
    text-decoration: line-through;
    text-decoration-color: rgb(190, 192, 216);


}
p,h2,div{
    text-align: center;
    padding: 2%;
    background-color: rgb(172, 134, 241);
    font-size: larger;
    font-family: cursive;
}